body {
    background-image: url('../img/1.jpg');    
    /* background-position: center; */
    background-size: cover;
    -webkit-backface-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.85); */
    background-color: rgba(123, 108, 0, 0.939);
    /* background-blend-mode: color; */
    background-blend-mode: overlay;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container-fluid {
    overflow: hidden;
}

.bg-container { 
    position: absolute;   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(244, 216, 62, 0.2);
    background-image: url('../img/2.png');    
    background-repeat: repeat; 
    background-blend-mode: color;
    z-index: -999;
    opacity: 0.5;
}

.overlay-darken {
    position: absolute;   
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -998;
}

.centered-row {
    margin-top: 45px;
    text-align: center;
}

.h1-header-pens {
    font-family: 'Bree Serif', cursive;
    color: whitesmoke;
    font-size: 75px;
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.display-nama-wrapper {
    text-align: left;
    color: whitesmoke;    
    font-size: 20px;
    margin-top: 60px;
}

.display-nama-wrapper input {
    padding: 20px;
    font-size: 75px;
    height: 160px;
    letter-spacing: 1.5px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tombol-wrapper {
    margin-top: 65px;
}

.btn-acak {
    padding: 10px;
    width: 300px;    
    line-height: 70px;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Bree Serif', cursive;
    letter-spacing: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gambar-wrapper img {
    margin-right: 10px;
}

.gambar-wrapper {
    background-color: whitesmoke;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    text-align: center;    
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
}

#logo-pens {
    width: 90px;
}

#logo-dies {
    width: 70px;
}
